.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: #282c34;
}

.app-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content-area {
  padding: 0 8em;
}