@font-face {
  font-family: 'Road Rage';
  src: url("../src/fonts/Road_Rage.otf");
}

@font-face {
  font-family: 'Fontania';
  src: url("../src/fonts/Fontania-MjXr.ttf");
}

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: #0C090D;
}

.app-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content-area {
  padding: 0 8em;
  width: 40%;
}

h1 {
  font-family: 'Road Rage';
  font-size: 3em;
  width: 100%;
}

.titles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.subtitle--dev {
  color: #F15946;
}

.subtitle--dev:after {
  content: ". ";
  color: #0C090D;
}

.subtitle--game {
  color: #5A5082;
}

.subtitle--game:after {
  content: ". ";
  color: #0C090D;
}

.subtitle--bass {
  color: #E01A4F;
}

.subtitle--bass:after {
  content: ". ";
  color: #0C090D;
}

.links {
  display: flex;
  justify-content: space-evenly;
  width: 15%;
  font-weight: 900;
}

a { 
  color: black;
  text-decoration: none;
} 

.link {
  width: 1em;
  height: 1em;
}

.link:hover .link__text {
  display: none;
}

.link__img {
  display: none;
}

.link:hover .link__img {
  display: block;
}

.link__text--tw:after {
  content: ". ";
  color: #3291DA;
}

.link__text--gh:after {
  content: ".";
  color: #7BC96F;
}

.link__text--li:after {
  content: ".";
  color: #2877B5;
}
