@font-face {
  font-family: "Road Rage";
  src: url("../src/fonts/Road_Rage.otf");
}

@font-face {
  font-family: "Fontania";
  src: url("../src/fonts/Fontania-MjXr.ttf");
}

@media (min-width: 724px) {
  .app {
    font-size: 2em;
  }
}

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #0c090d;
}

.app-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 724px) {
  .content-area {
    padding: 0 8em;
    width: 50%;
  }
}

h1 {
  font-family: "Road Rage";
  font-size: 3em;
  width: 100%;
  margin-bottom: 0;
}

h3 {
  font-family: "Road Rage";
}

a {
  text-decoration: none;
  color: inherit;
}

.titles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.subtitle--dev {
  color: #5a5082;
}

.subtitle--dev:after {
  content: ". ";
  color: #0c090d;
}

.subtitle--game {
  color: #f15946;
}

.subtitle--game:after {
  content: ". ";
  color: #0c090d;
}

.subtitle--bass {
  color: #e01a4f;
}

.subtitle--bass:after {
  content: ". ";
  color: #0c090d;
}

.links {
  display: flex;
  justify-content: space-evenly;
  width: 15%;
  font-weight: 900;
  font-family: "Road Rage";
}

@media (max-width: 623px) {
  .links {
    width: 25%;
  }
}

.link {
  width: 1em;
  height: 1em;
}

@media (max-width: 623px) {
  .link {
    padding-right: 1em;
  }
}

.link:hover .link__text {
  display: none;
}

.link__img {
  display: none;
}

.link:hover .link__img {
  display: block;
}

.link__text--gh:after {
  content: ".";
  color: #7bc96f;
}

.link__text--li:after {
  content: ".";
  color: #2877b5;
}
