html {
  background-image: linear-gradient(to bottom, rgba(0,255,213,0), rgba(83,179,203,1));
  height: 100%;
}

@font-face {
  font-family: 'Fira';
  src: url("../src/fonts/FiraCode-VariableFont:wght.ttf");
}

body {
  margin: 1em;
  font-family: 'Fira';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Fira';
}
